<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- TODO: file for broker logs -->
    <!-- TODO: file for zookeeper logs -->

    <logger name="org.apache.zookeeper" level="ERROR" />
</configuration>
